header.page-title {
  padding-top: 70px;
  padding-bottom: 10px;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;

  .main-title {
    font-weight: normal;
    font-size: 1.9rem;
    font-style: italic;
    text-transform: uppercase;
  }
}
