<app-page-title [containerAligned]="false">Overview</app-page-title>

<app-loading [show]="loading"></app-loading>

<main class="container-fluid">
  <app-filter (onFilter)="onFilter($event)" [useDateRange]="true"></app-filter>

  <div class="row">
    <div class="col-6">
      <app-bar-chart
        [id]="'groups'"
        [title]="'Grouped outgoing'"
        [labels]="labels"
        [dataset]="dataset"></app-bar-chart>
    </div>
    <div class="col-6">
      <app-line-chart
        [id]="'monthly'"
        [title]="'Monthly In/Out'"
        [datasets]="monthly.datasets"
        [labels]="monthly.labels"></app-line-chart>
    </div>
  </div>
</main>
